/*the mediaquery css file must be under your main stylesheet*/

/* Nest Hub Max */
@media screen and (max-width: 1280px) {
    
}


/* Nest Hub */
@media screen and (max-width: 1024px) {
    
}

/* Surface Pro 7 */
@media screen and (max-width: 912px) {
    
}

/* For iPad Air */
@media screen and (max-width: 820px) {
    
}

/* For iPad Mini */
@media screen and (max-width: 768px) {
    
}

/* For Surface Duo */
@media screen and (max-width: 540px) {
    .heroholder{
        flex-direction: column;
    }
    .divh1{
        width: 100%;
    }
    .divh2{
        display: none;
    }
    .links{
        display: none;
    }
    #hamburger{
        display: flex;
    }
    .mybtn{
        display: none;
    }
}

/* iPhone XR */
@media screen and (max-width: 414px) {
      
}

@media screen and (max-width: 412px) {
    
}

@media screen and (max-width: 393px) {
    
}

/* For iPhone 12 Pro */
@media screen and (max-width: 390px) {
    
}

@media screen and (max-width: 375px) {
    
}

@media screen and (max-width: 360px) {
    
}

@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 280px) {
    
}