*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
  
  --bg-clr-one: #f6f9fe;
  --bg-clr-two: #f4f7fc;
  --bg-clr-three: #eaf3fa;
  --primary-clr: #05555c;
  --primary-light-clr: #eaf3fa;
  --links-clr: #186f78;
  --text-clr: #3f7277;
  --secondary-heading: #277b6d;
}  

/* reusable code */

button.btn{
  background-color: var(--primary-clr);
  color: var(--bg-clr-one);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}
button.btn:hover{
  background-color: brown;
  color: var(--bg-clr-one);
  border: 2px solid brown;
}
.website-container section.reusable{
  width: 100%;
  padding: 70px 8% 50px;
}
.website-container section.reusable .headings{
  max-width: 700px;
  text-align: center;
  margin: 0px auto 45px;
}
.website-container section.reusable .headings h3{
  font-size: 17px;
  color: var(--links-clr);
}
.website-container section.reusable .headings h1{
  position: relative;
  font-size: 35px;
  margin: 10px 0px 15px;
  color: var(--primary-clr);
}
.website-container section.reusable .headings p{
  font-size: 16px;
  color: var(--text-clr);
}



/* end of reusable code */
body{
  width: 100%;
  min-height: 100vh;
}  
.website-container{
  position: relative;
  max-width: 1500px;
  margin: 0px auto;
}

#sticky{
    width: 100%;
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: +100;
    background-color: var(--bg-clr-one);
}

#mynav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  margin: auto;
}
#logo{
  width: 10%;
  margin-left: 8%;
}
#logo img{
  width: 50px;
  height: 50px;
}
#links{
  display: flex;
  list-style-type: none !important;
  justify-content: space-around;
  width: 50%;
  margin-left: 10%;
}
#links li{
  width: 18%;
  margin: 1%;
  padding: 1%;
}
#links li a{
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 5px;
  list-style-type: none !important;
  color: var(--primary-clr);
}
#links li a:hover{
  color: brown;
}
#con{
  width: 20%;
  margin-left: auto;
}
.contact{
  margin-left: 20%;
  border: none;
  height: 50px;
  width: 50%;
  border-radius: 5px;
}
#herosec{
  width: 100%;
  background-color: var(--bg-clr-one);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.heroholder{
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.career{
  display: flex;
  flex-direction: column;
  margin: 1%;
}
.career-item{
  background-color: whitesmoke;
  width: 50%;
  color: var(--bg-clr-one) !important;
  padding: 2%;
  border-radius: 5px;
  margin: 1%;
  border-block-end: 3px solid black;
  box-shadow: 0 0 30px grey;
}
.divh1{
  width: 48%;
  margin: 1%;
  padding: 1%;
}
.divh1 h3{
  color: var(--secondary-heading);
}
.divh1 h1{
  color: #05555c;
  font-size: 35px;
}
.divh1 h2{
  color: var(--primary-clr);
  font-size: 25px;
}
.divh1 p{
  color: var(--text-clr);
}
.divh2{
  width: 48%;
  margin: 1%;
  padding: 1%;

}
.divh2 img{
  width: 110%;
  height: 70%;
  object-fit: cover;
  border-radius: 30%;
}

#alertBox_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: +4;
    align-items: center;
    justify-content: center;
    display: none;
}
#alertBox{
    width: 30%;
    background-color: whitesmoke;
    padding: 2%;
    border-block-end: 3px solid black;
    box-shadow: 0 0 30px grey;
    right: 0;
    top: 0;
}
#alertBox p{
    margin-top: 10%;
    font-size: 20px;
}
#alertBox button{
    width: 20%;
    height: 40px;
    background-color: black;
    margin: 10% auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* about section styling */

.about{
  padding: 90px 8% 40px;
  display: flex;
  justify-content: space-between;
}
.about .about-image{
  position: relative;
  flex-basis: 30%;
  height: 400px;
  max-height: 450px;
  background-color: var(--primary-light-clr);
}
.about .about-desc{
  flex-basis: 65%;
  margin-left: 3%;
}
.about .about-image::before{
  position: absolute;
  content: '';
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  outline: 3px solid var(--primary-clr);
  top: -10px;
  left: -10px;
  z-index: 1;
}
.about .about-image .iconic{
  position: relative;
  width: 100%;
  min-width: 280px;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.about .about-image .social-media{
  position: absolute;
  top: 50%;
  left: calc(100% - 10px);
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 15px;
  border-radius: 5px;
}
.about .about-image .social-media img{
  color: var(--bg-clr-one);
  margin: 8px 0px;
  cursor: pointer;
  transition: 0.4s;
}
.about .about-image .social-media img:hover{
  transform: scale(1.2);
}
.about .about-desc h3{
  font-size: 17px;
  color: var(--links-clr);
}
.about .about-desc h2{
  margin: 10px 0px;
  font-size: 22px;
  color: var(--primary-clr);
}
.about .about-desc p{
  font-size: 15px;
  color: var(--text-clr);
}
.about-desc .about-personal-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
  margin-top: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-clr);
}
.about-personal-info div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-personal-info div span{
  color: var(--text-clr);
  letter-spacing: 1px;
}
.about-desc .download-btn{
  border-radius: 25px;
  margin-top: 30px;
}


/* services section styling */

.services .services-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.services-container .service-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 32%;
  padding: 40px 40px 30px;
  background-color: var(--bg-clr-one);
  border: var(1px --bg-clr-three);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
  z-index: 1;
}
.service-box .icon-wrapper{
  position: relative;
  background-color: var(--primary-clr);
  font-size: 30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.4s;
  z-index: 3;
}
.service-box .icon-wrapper img{
  font-size: 24px;
  color: var(--bg-clr-one);
  transition: 0.4s;
}
.service-box h2{
  padding: 15px 0px 10px;
  color: var(--primary-clr);
  font-size: 20px;
  transition: 0.4s;
}
.service-box p{
  color: var(--text-clr);
  line-height: 1.3;
  transition: 0.4s;
}
.service-box h3{
  font-size: 16px;
  color: var(--links-clr);
  margin-top: 50px;
}
.services-container .service-box::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 1.3%;
  background-color: var(--primary-clr);
  left: 0%;
  bottom: 0%;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.69, 0.05, 0, 0.97) ;
}
.services-container .service-box:hover::after{
  height: 100%;
}
.services-container .service-box:hover{
  transform: translateY(-2px);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
.services-container .service-box:hover.service-box .icon-wrapper{
  background-color: var(--bg-clr-one);
}
.services-container .service-box:hover.service-box h2{
  color: var(--bg-clr-one);
  z-index: 5;
}
.services-container .service-box:hover.service-box p{
  color: #aaa;
  z-index: 5;
}
.services-container .service-box:hover.service-box h3{
  color: #e3e3e8;
  z-index: 5;
}


/* resume section styling */

.resume{
  background-color: var(--bg-clr-one);
}
.resume .resume-row{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.resume-row .column .sub-heading{
  color: var(--primary-clr);
  padding: 0px 0px 20px 30px;
}
.column .resume-contents{
  padding-left: 30px;
  border-left: 2px solid var(--primary-clr);
}
.resume-contents .box{
  position: relative;
  padding: 20px;
  border-bottom: 5px solid var(--bg-clr-one);
  border-radius: 5px;
  background-color: var(--primary-light-clr);
  cursor: pointer;
  transition: all 0.4s;
}
.resume-contents .box:nth-child(3){
  border-bottom: 0px;
}
.resume-contents .box::before{
  content: '';
  position: absolute;
  width: 12px;
  height: 14px;
  background-color: var(--primary-clr);
  top: 21px;
  left: -30px;
}
.resume-contents .box::after{
  content: '';
  position: absolute;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-clr);
  top: 21px;
  left: -18px;
}
.resume-contents .box h4{
  position: relative;
  color: var(--secondary-heading);
}
.resume-contents .box h3{
  font-size: 19px;
  padding: 10px 0px 6px;
  color: var(--primary-clr);
  margin-top: 2px;
}
.resume-contents .box p{
  margin-top: 3px;
  line-height: 1.3;
  color: var(--text-clr);
  font-size: 15px;
}
.resume-contents .box h5{
  position: relative;
  margin-top: 12px;
  right: 0;
  text-align: right;
  color: var(--secondary-heading);
  font-weight: 500;
}

/* portfolio section styling */

.Portfolio .button-group{
  text-align: center;
  margin-bottom: 40px;
}
.Portfolio .button-group .button{
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--primary-light-clr);
  color: var(--primary-clr);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}
.Portfolio .button-group .button.active{
  background-color: var(--primary-clr);
  color: var(--bg-clr-one);
}
.Portfolio .button-group .button:hover{
   background-color: var(--primary-clr);
  color: var(--bg-clr-one);
}
.Portfolio .gallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Portfolio .gallery .item{
  position: relative;
  width: calc(100% / 3) !important;
  border: 4px solid transparent;
  overflow: hidden;
  cursor: pointer;
}
.gallery .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}
.gallery .item:hover img{
  transform: scale(1.15);
}
.gallery .item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 85, 92, 0.7);
  color: var(--bg-clr-one);
  padding: 15px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.gallery .item:hover .overlay{
  opacity: 1;
}
.item .overlay a{
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid var(--bg-clr-one);
  color: var(--bg-clr-one);
  text-decoration: none;
  font-size: 14px;
  transition: 0.4s;
}
.item .overlay a:hover{
  background-color: var(--bg-clr-one);
  color: var(--primary-clr);
}

/* testimonial section styling */

#software{
    width: 100%;
    padding: 1%;
}
.psoft{
    font-size: 20px;
}
.softchild{
    width: 95%;
    margin: auto;
    overflow-y: auto;
    padding: 1%;
    border-radius: 15px;
    display: flex;
}
.softchild div{
    min-width: 400px;
    min-height: 200px;
    padding: 3%;
    margin: 1%;
    background-color: var(--bg-clr-three);
    border-radius: 20px;
    color: var(--links-clr);
}
.contact-form{
  width: 100%;
  padding: 70px 8% 50px;
}
.contact-form .contact-row{
  width: 100%;
  display: flex;
  background-color: var(--bg-clr-one);
}
.contact-row .column-1{
  flex-basis: 40%;
  min-height: 320px;
  padding: 50px;
}
.contact-row .column-2{
  flex-basis: 60%;
}
.column-1 .contactTitle h2{
  position: relative;
  font-size: 36px;
  color: var(--primary-clr);
  display: inline-block;
  margin-bottom: 25px;
}
.column-1 .contactTitle h2::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 120%;
  left: 0;
  background-color: var(--secondary-heading);
}
.column-1 .contactTitle h2::after{
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 1px);
  left: 0;
  background-color: var(--primary-clr);
}
.column-1 .contactTitle p{
  font-size: 15px;
  color: var(--text-clr);
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 20px;
}
.column-1 .form-1 .inputGroup{
  position: relative;
  margin: 40px 0px;
}
.column-1 .form-1 input{
  width: 100%;
  font-size: 18px;
  padding: 2px 0px;
  background-color: var(--bg-clr-one);
  color: var(--primary-clr);
  border: none;
  border-bottom: 1px solid var(--text-clr);
  outline: none ;
}
.column-1 .form-1 label,
.column-2 .form-2 label{
  position: absolute;
  bottom: 4px;
  left: 0px;
  color: var(--text-clr);
  font-size: 15px;
  transition: 0.4s;
  pointer-events: none;
}
.column-2 .form-2 label{
  top: 25px;
  left: 20px;
}
.column-1 .form-1 input:focus ~ label,
.column-1 .form-1 input:valid ~ label,
.column-2 .form-2 textarea:focus ~ label,
.column-2 .form-2 textarea:valid ~ label{
  transform: translateY(-30px);
  font-size: 14px;
  opacity: 0.8;
}
.column-1 .contactSocialMedia{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0px 0px;
}
.column-1 .contactSocialMedia a{
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-left: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.4s;
}
.column-1 .contactSocialMedia a img{
  color: var(--bg-clr-one);
  font-size: 18px;
  line-height: 35px;
  transform: 0.4s;
}
.column-1 .contactSocialMedia a:hover{
  transform: translateY(-10px);
  background-color: var(--bg-clr-one);
  border: var(--primary-clr);
}
.column-1 .contactSocialMedia a:hover img{
  color: var(--primary-clr);
}
.column-2 .form-2{
  width: 100%;
  height: calc(100% - 50px);
  padding-top: 50px;
}
.column-2 .form-2 .inputGroup{
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--text-clr);
}
.column-2 .form-2 textarea{
  width: 100%;
  min-height: 100%;
  display: block;
  resize: none;
  border: none;
  outline: none;
  background-color: var(--bg-clr-one);
  color: var(--primary-clr);
  padding: 20px;
  font-size: 16px;
}
.column-2 .form-2 .form-button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: var(--primary-clr);
  color: var(--bg-clr-one);
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.column-2 .form-2 .form-button:hover{
  background-color: var(--links-clr);
}

/* footer section styling */
.page-footer{
  width: 100%;
  padding: 20px 8%;
  margin-top: 20px;
  background-color: var(--primary-light-clr);
}
.page-footer .footer-contents{
  display: flex;
  justify-content: space-between;
  text-align-last: center;
}
.footer-contents a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-clr);
  margin-right: 20px;
}
.footer-contents p{
  font-size: 16px;
  color: var(--text-clr);
}
.footer-contents p span{
  color: var(--primary-clr);
  font-weight: bold;
}


/* Media Query Starts */

@media(max-width: 1100px){
  .services-container .service-box{
    flex-basis: 48%;
  }
  .navbar ul.navlinks li{
    margin: 0px 16px;
  }
  .Portfolio .gallery .item{
    width: calc(100% / 2);
  }
}

@media(max-width: 768px){
  .hero .hero-text{
    font-weight: bolder;
  }
  .navbar .menu-btn{
    display: block;
    margin-left: 30px;
    z-index: 101;
  }
  .navbar .menu-btn.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .menu-btn.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .menu-btn.active .bar:nth-child(2){
    transform: translateX(-30px);
    opacity: 0;
  }
  .navbar ul.navlinks{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    /*right: 0;*/
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-light-clr);
    transition: right 0.3s cubic-bezier(1, 0.3, 0.3, 1);
    z-index: 100;
  }
  .navbar ul.navlinks.active{
    right: 0;
  }
  .navbar ul.navlinks li{
    margin: 25px 0px 0px;
  }
  .navbar ul.navlinks li:nth-child(1){
    margin-top: 180px;
  }
  .navbar ul.navlinks li a{
    font-size: 18px;
    letter-spacing: 2px;
  }
  .navbar .button-nwrapper{
    margin-left: auto;
  }
  .hero .hero-img img{
    opacity: 0.3;
  }
  .home .career-container{
    grid-template-columns: 1fr;
  }
  .about-desc .about-personal-info{
    grid-template-columns: 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-light-clr);
  }




  /* about media query */

  .about{
    flex-direction: column;
  }
  .about .about-desc{
    flex-basis: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .about .about-image{
    flex-basis: 100%;
    min-height: 300px;
  }
  .about .about-image .iconic{
    min-height: 250px;
    min-height: 300px;
  }

  /* services media query */

  .services-container .service-box{
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  /* resume media query */

  .resume .resume-row{
    flex-direction: column;
  }
  .resume-row .column-right{
    margin-top: 35px;
  }

  /* contact media query */
  .contact-form .contact-row{
    flex-direction: column;
  }
  .contact-row .column-1,
  .contact-row .column-2{
    flex-basis: 100%;
  }
  .contact-row .column-1{
    min-width: 250px;
    padding: 20px;
  }
  .column-2 .form-2 textarea{
    margin-top: 0px;
    height: 200px;
  }
  .column-2 .form-2 .inputGroup{
    border: 1px solid #ddd;
  }
}

@media(max-width: 600px){
  .Portfolio .gallery .item{
    width: 100% !important;
  }
}

@media(max-width: 550px){
  .softchild div{
    min-width: 250px;
  }
  .page-footer .footer-contents{
    flex-direction: column;
  }
  .footer-contents a{
    margin-bottom: 10px;
  }
  .footer-contents p{
    margin-bottom: 10px;
  }
  .hero .hero-img img{
    left: 0px !important;
    bottom: 100px;
    
  }
  .hero .hero-img{
    right: -200px;
  }
}

@media(max-width: 350px){
  button.contact-btn{
    display: none;
  }
  .career-item{
    margin-top: 100px ;
    left: 0;
  }
  .hero-text{
    margin-top: 100px;
  }
}

/* Media Query ends */